.tabs{
  display: flex;
  justify-content: left;
}
.tab{
  border: none;
  padding: 9px 20px;
  font-family: serif;
  margin-right: 15px;
}
.tab.select{
  background-color: red;
}

.contents{
  position: relative;
  max-width: 1200px;
}
.content{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.content.show{
  opacity: 1;
}
